.product-list-container {
  width: 90%;
  margin: 20px auto;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-button {
  width: auto;
}

.search-and-add {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

  td {
    padding: 8px 12px;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  /* Ajuste para el logo */
  .product-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 4px;
    display: block;
    margin: auto;
  }
  .product-table__column--logo {
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.footer p {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
}

.footer select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #333;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.footer select:hover {
  border-color: #999;
}

//Skeleton styles
.skeleton-table table {
  width: 100%;
  border-collapse: collapse;
}

.skeleton-table td {
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 8px 12px;
}

.skeleton-placeholder {
  height: 20px;
  width: 80%;
  background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: loading 1.2s ease-in-out infinite;
  border-radius: 4px;
}

.skeleton-table tr:nth-child(2) .skeleton-placeholder {
  width: 70%;
}

.skeleton-table tr:nth-child(3) .skeleton-placeholder {
  width: 90%;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
